@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-secondary: #ff6a00;
  --color-primary: #0da34e;
  --color-bg: #0f0f0f;
  --color-cardBg: #111;
  --color-circleBg: #cc9f66;
  --color-text: #e5e7eb;

  --color-border: #2d2d2d;
  --color-outline: #0da34e;

  --color-mutedText: #9ca3af;
  --color-inputBg: #1f1f1f;

  --color-danger: #ef4444;
  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-warningBg: #ffae0009;

  --color-hoverSecondary: #ff6200;
  --color-hoverPrimary: #0ac25a;
  --color-hoverCardBg: #1f1f1f;

  --font-family: "Montserrat";
}

.light {
  --color-secondary: #ff6a00;
  --color-bg: #ffffff;
  --color-cardBg: #f1fff1;
  --color-text: #010101;

  --color-border: #d1d5db;

  --color-mutedText: #2c2d2f;
  --color-inputBg: #f9fafb;

  --color-danger: #b91c1c;
  --color-success: #16a34a;
  --color-warning: #ca8a04;
  --color-warningBg: #ffae0009;

  --color-hoverPrimary: #0ac25a;
  --color-hoverSecondary: #ff6200;
  --color-hoverCardBg: #e5e7eb;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
}
.input,
.textarea,
.select {
  background-color: var(--color-inputBg);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  transition: all 0.2s;
  border-radius: 10px;
}
.input:focus,
.textarea:focus,
.select:focus {
  border: 1px solid var(--color-outline);
  outline: 1px solid var(--color-outline);
}

.input:-webkit-autofill,
.textarea:-webkit-autofill,
.select:-webkit-autofill {
  background-color: var(--color-inputBg) !important;
  -webkit-text-fill-color: var(--color-mutedText) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}