@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

@import 'tailwindcss';

@font-face {
  font-family: 'FoodPanda';
  src: url('/fonts/Food-panda.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-secondary: #4e4e4e;
  --color-primary: #ff2c2c;
  --color-bg: #0f0f0f;
  --color-cardBg: #111;
  --color-circleBg: #cc9f66;
  --color-text: #e5e7eb;

  --color-border: #1f1f1f;
  --color-outline: #007595;

  --color-mutedText: #bbb;
  --color-inputBg: #1f1f1f;

  --color-danger: #ef4444;
  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-warningBg: #ffae0009;

  --color-hoverPrimary: #fa3f3f;
  --color-hoverSecondary: #646363;
  --color-hoverCardBg: #1f1f1f;

  --font-inter: 'Inter', sans-serif;
  --font-roboto: 'Roboto Serif', serif;
  --font-panda: 'FoodPanda', sans-serif;
}

.light {
  --color-bg: #ffffff;
  --color-cardBg: #f1fff1;
  --color-text: #010101;
  --color-text: #4e4e4e;

  --color-border: #d1d5db;

  --color-mutedText: #2c2d2f;
  --color-inputBg: #f9fafb;

  --color-danger: #b91c1c;
  --color-success: #16a34a;
  --color-request: #facc15;
  --color-accept: #3b82f6;
  --color-progress: #6366f1;

  --color-warning: #ca8a04;
  --color-warningBg: #ffae0009;

  --color-hoverCardBg: #e5e7eb;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-inter);
  /* cursor: none; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto);
}
.input,
.textarea,
.select {
  background-color: var(--color-inputBg);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  transition: all 0.2s;
  border-radius: 10px;
}
.input:focus,
.textarea:focus,
.select:focus {
  border: 1px solid var(--color-outline);
  outline: 1px solid var(--color-outline);
}

.input:-webkit-autofill,
.textarea:-webkit-autofill,
.select:-webkit-autofill {
  background-color: var(--color-inputBg) !important;
  -webkit-text-fill-color: var(--color-mutedText) !important;
  transition: background-color 50000s ease-in-out 0s;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
