@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-secondary: #ff6a00;
  --color-primary: #0da34e;
  --color-bg: #0f0f0f;
  --color-cardBg: #111;
  --color-circleBg: #cc9f66;
  --color-text: #e5e7eb;

  --color-border: #2d2d2d;
  --color-outline: #3b82f6;

  --color-mutedText: #9ca3af;
  --color-highlight: #fbbf24;
  --color-inputBg: #111827;
  --color-placeholder: #6b7280;

  --color-danger: #ef4444;
  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-info: #3b82f6;

  --color-hoverSecondary: #fde047;
  --color-hoverPrimary: #0ac25a;
  --color-hoverCardBg: #1f1f1f;

  --font-family: "Montserrat";
}

.light {
  --color-bg: #ffffff;
  --color-cardBg: #f1fff1;
  --color-text: #010101;

  --color-border: #d1d5db;
  --color-outline: #3b82f6;

  --color-mutedText: #2c2d2f;
  --color-highlight: #f59e0b;
  --color-inputBg: #f9fafb;
  --color-placeholder: #9ca3af;

  --color-danger: #b91c1c;
  --color-success: #16a34a;
  --color-warning: #ca8a04;
  --color-info: #2563eb;

  --color-hoverPrimary: #0ac25a;
  --color-hoverCardBg: #e5e7eb;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
}
input,
textarea,
select {
  background-color: var(--color-inputBg);
  color: var(--color-text);
  border: 1px solid var(--color-border);
}
input:focus,
textarea:focus,
select:focus {
  border: none;
  outline: 1px solid var(--color-outline);
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
